<div class="page-header">
  <h1>{{projectName}} <small>Home</small></h1>
</div>

<div class="apidocs home">
  <div class="well">
    <p>
      Browse to a module or class using the sidebar to view its API documentation.
    </p>
  </div>
</div
